@function columnWidth($colNumber) {
  @return 100% / $colNumber;
}

@mixin column($gutter, $colNumber, $height) {
  display: flex;
  flex: 0 1 columnWidth($colNumber);
  height: $height;

  > * {
    display: flex;
    flex-direction: column;
    margin: $gutter / 2;
    width: 100%;
  }
}

@mixin grid($gutter, $colNumber, $height) {
  display: flex;
  flex-wrap: wrap;
  margin: -$gutter / 2;
  padding: 0;

  > * {
    @include column($gutter, $colNumber, $height);
  }
}

@mixin grid-breakpoint($width, $colNumber) {
  @include media('<=#{$width}') {
    > * {
      flex-basis: columnWidth($colNumber);
    }
  }
}