@function columnWidth($colNumber) {
  @return 100% / $colNumber;
}

@mixin column($gutter, $colNumber, $height) {
  display: flex;
  flex: 0 1 columnWidth($colNumber);
  height: $height;

  > * {
    display: flex;
    flex-direction: column;
    margin: $gutter / 2;
    width: 100%;
  }
}

@mixin grid($gutter, $colNumber, $height) {
  display: flex;
  flex-wrap: wrap;
  margin: -$gutter / 2;
  padding: 0;

  > * {
    @include column($gutter, $colNumber, $height);
  }
}

@mixin grid-breakpoint($breakpoint, $gutter, $colNumber, $height) {
  @include media('<=#{$breakpoint}px') {
    margin: -$gutter / 2;

    > * {
      @include column($gutter, $colNumber, $height);
    }
  }
}

@mixin container($max-width) {
  margin: 0 auto;
  max-width: $max-width;
}

@mixin container-breakpoint($breakpoint, $margin) {
  @include media('<=#{$breakpoint}') {
    margin: 0 $margin;
  }
}

@mixin make-grid($grid) {
  @each $breakpoint, $params in $grid {
    @if $breakpoint == "default" {
      @include grid(
       map-get($params, gutter),
       map-get($params, colNumber),
       map-get($params, height)
      );
    } @else {
      @include grid-breakpoint(
        $breakpoint,
        map-get($params, gutter),
        map-get($params, colNumber),
        map-get($params, height)
      );
    }
  }
}
